<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ country.name }}</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.css" rel="stylesheet" />
    <link rel="icon" href="../static/favicon.ico">
</head>
<body>
    <div class="topnav">
        <a href="../index.html">Home</a>
        <a href="../quiz.html">Quiz</a>
        <a href="https://github.com/stiles/guessr-tools/blob/main/README.md">About</a>
    </div>
    <header>
        <div class="header-content">
            <h1>{{ country.name }}</h1>
            <img src="../static/flags/{{ country.code }}.png" alt="{{ country.name }} flag" class="header-flag">
        </div>
    </header>

    <main>
        <section class="overview">
            <div id="country-map"
     class="country-map mapboxgl-map"
     data-lat="{{ country.lat }}"
     data-lon="{{ country.lon }}"
     data-name="{{ country.name | slugify }}">
</div>
        </section>

        {% if country.geoguessr_clues %}
        <section class="clues">
            <div class="clues-grid">
                {% for key, value in country.geoguessr_clues.items() if key != "flag" %}
                <div class="clues-item">
                    <h3>{{ key | capitalize }}</h3>
                    <p>{{ value }}</p>
                </div>
                {% endfor %}
            </div>
        </section>
        {% else %}
            <p>No GeoGuessr clues available for this country.</p>
        {% endif %}
    </main>

    <footer>
        <p>Made by <a href="https://mattstiles.me">Matt Stiles</a> with <a href="https://github.com/datadesk/baker-example-page-template?tab=readme-ov-file">Baker</a></p>
    </footer>

    <script src="../static/script.js"></script>
</body>
</html>
