<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flag flashcards</title>
    <link rel="icon" href="../static/favicon.ico">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="topnav">
        <a href="../index.html">Home</a>
        <a href="../quiz.html">Map quiz</a>
        <a class="active" href="flags.html">Flashcards</a>
        <a href="https://github.com/stiles/guessr-meta-generator/blob/main/README.md">About</a>
    </div>

    <main class="flashcards-container">
        <small class='instructions'>Click card for answer</small>
        {% for flashcard in flashcards %}
        <div class="flashcard" 
            data-region="{{ flashcard.region }}" 
            data-subregion="{{ flashcard.subRegion }}" 
            data-language="{{ flashcard.geoguessrClues.language }}" 
            data-culture="{{ flashcard.geoguessrClues.culture }}" 
            data-bonus="{{ flashcard.geoguessrClues.bonus }}"
            data-lat="{{ flashcard.lat }}" 
            data-lon="{{ flashcard.lon }}">
            <div class="flashcard-inner">
                <div class="flashcard-front">
                    <img class="flashcard-img" src="https://flagpedia.net/data/flags/h240/{{ flashcard.code }}.png" srcset="https://flagcdn.com/h240/{{ flashcard.code }}.png 2x" alt="{{ flashcard.name }} flag">
                </div>
                <div class="flashcard-back">
                    <h2 class="country-name"><a href="/{{ flashcard.name | slugify }}/index.html">{{ flashcard.name }}</a></h2>
                    <img 
                        class="static-map" 
                        src="https://api.mapbox.com/styles/v1/mapbox/light-v10/static/pin-s+c8553d({{ flashcard.lon }},{{ flashcard.lat }})/{{ flashcard.lon }},{{ flashcard.lat }},3,0/400x400@2x?access_token=pk.eyJ1Ijoic3RpbGVzIiwiYSI6ImNsd3Rpc3V2aTAzeXUydm9sMHdoN210b2oifQ.66AJmPYxe2ixku1o7Rwdlg" 
                        alt="Map of {{ flashcard.name }}"
                    >
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="hints-container">
            <p id="region-hint" class="hint"></p>
            <p id="subregion-hint" class="hint"></p>
            <p id="clue-hint" class="hint"></p>
            <button id="show-hint" class="flag-button">Need a hint?</button>  
            <button id="next-card" class="flag-button">Next ❯</button>
        </div>
    </main>

    <footer>
        <p class="credits">Made by <a href="https://mattstiles.me">Matt Stiles</a> with <a href="https://github.com/datadesk/LA Times -example-page-template?tab=readme-ov-file">LA Times Baker</a>. Flag images via <a href="https://flagpedia.net/">Flagpedia</a>.</p>
    </footer>

    <script src="../static/flag-flashcards.js"></script>
</body>
</html>