<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="static/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!-- Primary Meta Tags -->
        <title>LevelUpGeo! | Learn GeoGuessr meta</title>
        <meta name="title" content="LevelUpGeo! | Learn GeoGuessr meta">
        <meta name="description" content="Master the art of GeoGuessr with LevelUpGeo! Learn key geographic clues, road signs, and cultural markers to boost your game.">
    
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://levelupgeo.com/">
        <meta property="og:title" content="LevelUpGeo! | Learn GeoGuessr meta">
        <meta property="og:description" content="Master the art of GeoGuessr with LevelUpGeo! Learn key geographic clues, road signs, and cultural markers to boost your game.">
        <meta property="og:image" content="https://levelupgeo.com/static/og-image.jpg">
    
        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://levelupgeo.com/">
        <meta property="twitter:title" content="LevelUpGeo! | Learn GeoGuessr meta">
        <meta property="twitter:description" content="Master the art of GeoGuessr with LevelUpGeo! Learn key geographic clues, road signs, and cultural markers to boost your game.">
        <meta property="twitter:image" content="https://levelupgeo.com/static/twitter-image.jpg">
    
        <!-- Keywords -->
        <meta name="keywords" content="GeoGuessr, geography game, GeoGuessr tips, geographic clues, map game, geography quiz, GeoGuessr meta, learning geography">
    
        <!-- Robots -->
        <meta name="robots" content="index, follow">
    
        <!-- Author -->
        <meta name="author" content="Your Name">
    
        <!-- Canonical URL -->
        <link rel="canonical" href="https://levelupgeo.com/">
    
        <!-- Font and Stylesheets -->
        <link rel="stylesheet" href="static/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
            
        <!-- Schema.org Structured Data -->
        <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "LevelUpGeo! | Learn GeoGuessr meta",
          "description": "Master the art of GeoGuessr with LevelUpGeo! Learn key geographic clues, road signs, and cultural markers to boost your game.",
          "url": "https://levelupgeo.com/",
          "image": "https://levelupgeo.com/static/og-image.jpg"
        }
        </script>
    </head>
    

<body>
    <div class="topnav">
        <a class="active" href="index.html">Home</a>
        <a href="quiz.html">Map quiz</a>
        <a href="flags.html">Flashcards</a>
        <a href="https://github.com/stiles/guessr-meta-generator/blob/main/README.md">About</a>
    </div>

    <header class="main-header">
        <div class="intro-container">
            <h1 class="main-title">Master the world. Level up your GeoGuessr skills.</h1>
            <p class="intro-text">
                Explore the world's countries and sharpen your geographic knowledge.
            </p>
        </div>
        <div class="filter-container">
            <input type="text" id="filter-input" class="filter-input" oninput="filterCountries()" placeholder="Learn about a place...">
        </div>
    </header>

    <main>
        {% for region, subregions in regions.items() %}
        <section class="region-section">
            <h2 class="region-title">{{ region }}</h2>
            {% for subregion, countries in subregions.items() %}
            <h3 class="subregion-title">{{ subregion }}</h3>
            <div class="grid-container">
                {% for country in countries if country.name != "Antarctica"%}
                <a href="{{ country.name | slugify }}/index.html" class="grid-item" data-name="{{ country.name }}">
                    <img src="https://flagcdn.com/w80/{{ country.code }}.png" src="https://flagcdn.com/w160/{{ country.code }}.png 2x" alt="{{ country.name }} flag" class="flag" width="80">
                    <p>{{ country.name }}</p>
                </a>
                {% endfor %}
            </div>
            {% endfor %}
        </section>
        {% endfor %}
    </main>

    <footer>
        <p class="credits">Made by <a href="https://mattstiles.me">Matt Stiles</a> with <a href="https://github.com/datadesk/LA Times -example-page-template?tab=readme-ov-file">LA Times Baker</a>. Flag images via <a href="https://flagpedia.net/">Flagpedia</a>.</p>
    </footer>

    <script src="static/script.js"></script>
</body>
</html>
