<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ region_name }} - GeoGuessr Tools</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="topnav">
        <a href="../index.html">Home</a>
        <a href="quiz.html">Map quiz</a>
        <a href="/flags.html">Flashcards</a>
        <a href="https://github.com/stiles/guessr-meta-generator/blob/main/README.md">About</a>
    </div>

    <header>
        <h1>{{ region_name }}</h1>
        <p class="region-dek">Explore countries in the {{ region_name }} region.</p>
    </header>
    
    <main>
        {% for subregion, countries in subregions.items() %}
        <section>
            <h2>{{ subregion }}</h2>
            <div class="grid-container">
                {% for country in countries %}
                <a href="../{{ country.name | slugify }}/index.html" class="grid-item" data-name="{{ country.name }}">
                    <img src="../static/flags/{{ country.code }}.png" alt="{{ country.name }} flag">
                    <p class="country-name">{{ country.name }}</p>
                </a>
                {% endfor %}
            </div>
        </section>
        {% endfor %}
    </main>
    <footer>
        <p class="credits">Made by <a href="https://mattstiles.me">Matt Stiles</a> with <a href="https://github.com/datadesk/LA Times -example-page-template?tab=readme-ov-file">LA Times Baker</a>. Flag images via <a href="https://flagpedia.net/">Flagpedia</a>.</p>
    </footer>
</body>
</html>